body {
    padding: 0;
    margin: 0;
    background-color: #ff1616;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    padding-top: 40px;
    width: 80%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pokemon-name-container {
    background-color: yellow;
    margin: 100px;
    height: 60px;
    padding-right: 10px;
    border: 5px solid gray;
    border-radius: 5px;
    box-shadow: 0 0 0 2px black inset, 0 0 0 3px black;
    display: inline-flex;
    align-items: center;
}

.pokeball-icon {
    height: 100px;
    width: 100px;
    position: relative;
    margin-left: -35px;
    margin-right: 5px;
}